<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body>
  <h1>Welcome to the ESDS Apps Server!</h1>
  <p>
    This server contains a number of applications built collaboratively
    on top of Dancecloud for use by the
    <a href="https://www.esds.org.uk" target="_blank">Edinburgh Swing Dance Society</a>.
  </p>
  <p>
    You can find the source code for this server <a href="https://github.com/TristanGoss/esds-apps" target="_blank">here</a>. If you're
    interested in collaborating, please contact <a href="mailto:info@esds.org.uk">info@esds.org.uk</a>.
  </p>
  <p>
    For now, the only content available is our <a href="membership-cards">membership cards</a> interface.
  </p>

</body>

</html>