<!DOCTYPE html>
<html>

<head>
  <title>Welcome</title>
  <link rel="icon" href="{{ url_for('public', path='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('public', path='css/base.css') }}">
</head>

<body>
  <h1>Welcome to the ESDS Apps Server!</h1>
  <p>
    This server contains a number of applications built collaboratively
    on top of <a href="https://www.dancecloud.com" target="_blank">Dancecloud</a> for use by the
    <a href="https://www.esds.org.uk" target="_blank">Edinburgh Swing Dance Society</a>.
  </p>
  <p>
    You can find the source code for this server <a href="https://github.com/TristanGoss/esds-apps" target="_blank">here</a>. If you're
    interested in collaborating, please contact <a href="mailto:info@esds.org.uk">info@esds.org.uk</a>.
  </p>
  <p>
    For now, the only content available is our <a href="membership-cards">membership cards</a> interface.
  </p>

</body>

</html>