<style>
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }

    nav li {
        display: inline;
    }

    nav li a {
        text-align: center;
        padding: 6px 16px;
        text-decoration: none;
    } 

    nav li a:hover {
        background-color: #c9c9c9;
    }
</style>
<nav>
    <ul>
        <li><a href="/membership-cards">Membership Cards</a></li>
        <li><a href="/membership-cards/checks/logs">Card Scan Logs</a></li>
        <li><a href="/membership-cards/scanner">Rapid Scanner</a></li>
    </ul>
</nav>