<nav>
    <ul>
        <li><a href="/"><img src="/public/small_logo.png" alt="ESDS Home"></a></li>
        <li><a href="/membership-cards">Membership Cards</a></li>
        <li><a href="/membership-cards/scanner">Card Scanner</a></li>
        <li><a href="/membership-cards/checks/logs">Card Scan Logs</a></li>
        <li><a href="/pos-permissions">POS Management</a></li>
        <li><a href="/qr-codes">Tracked QR Codes</a></li>
        <li><a href="/attendance">Attendance</a></li>
    </ul>
</nav>
