<!DOCTYPE html>
<html>
<head>
  <title>Rapid Scanner</title>
  <link rel="icon" href="/public/favicon.ico">
  <link rel="stylesheet" href="/public/css/rapid_scanner.css">
  <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
  <style>
    #result {
      font-size: 2em;
      margin-top: 1em;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="all">
    <h1>Rapid Membership card scanner</h1>
    <div id="scanner-container" style="position: relative;">
      <div id="qr-help" class="help-overlay">
        <p>
          You can use this page to rapidly validate a large number of membership cards.
        </p>
        <p>
          Simply <b>tap the page once</b>, then aim your camera at a card and watch / listen for the response.
        </p>
        <p>
          You don't have to reload the page to scan multiple cards. Just aim your camera at them one after another.
        </p>
        <p>
          If this page is not working reliably, please <b>do not repeatedly tap or refresh the page</b>.
          Instead, ensure you have a stable internet connection.
        </p>
      </div>
      <div id="qr-reader"></div>
    </div>
    <div id="result"></div>
  </div>
  <script src="/public/js/card_scanner.js"></script>
</body>
</html>
